#root {
  max-width: auto;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

.image-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 20px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
